<!DOCTYPE html>
<html>
    <head lang="hu-HU">
        <title>Something restaurant</title>
        <link rel="stylesheet" href="../CSS/master.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/paper/bootstrap.min.css">
        <meta charset="utf-8">
    </head>
    <body id="bootstrap-overrides">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#"><img id="navbarLogo" width="40px" src="http://www.designknock.com/wp-content/uploads/2013/03/Restaurant-Logo-1.jpg"></a>
                </div>
                <div>
                    <ul class="nav navbar-nav">
                        {{#each navs}}
                            <li><a href="{{link}}">{{name}}</a></li>
                        {{/each}}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{loginLink}}"><span class="glyphicon glyphicon-user"></span>{{loginOrName}}</a></li>
                        <li><a href="{{regLink}}">{{regOrLogout}}</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="content row">
            <div class="col-sm-1"></div>
            <div class="someSpaceLeft black center col-sm-4">
                <h3 class="black">Információk</h3>
                <ul>
                    <li>Telefonszám: +0640505050</li>
                    <li>Cím: 9761 Budapest Something utca 4</li>
                    <li>Nyitvatartás:</li>
                    <li><ul>
                        <li>Hétfő: 10:00-18:00</li>
                        <li>Kedd: 10:00-18:00</li>
                        <li>Szerda: 10:00-18:00</li>
                        <li>Csütörtök: 10:00-18:00</li>
                        <li>Péntek: 10:00-18:00</li>
                        <li>Szombat: 10:00-18:00</li>
                        <li>Vasárnap: 10:00-18:00</li>
                    </ul></li>
                </ul>
            </div>
            <div class="col-sm-6">
                <h3 class="black">Történetünk</h3>
                <p class="black">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis efficitur vel ipsum at iaculis. Cras vulputate tincidunt lectus, sit amet dignissim lorem malesuada et. Proin nec lacus orci. Suspendisse sed sapien risus. Curabitur eget porttitor nisl, nec porta felis. Etiam vitae nisi ut nibh porta convallis. Pellentesque nec vehicula elit. Vivamus tempus lorem a felis vulputate, eget hendrerit erat convallis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin et tempor nulla.

Maecenas urna felis, egestas et ultricies sit amet, mattis at libero. Nulla in enim vel tortor porttitor semper. Proin sed odio ipsum. Nam suscipit leo metus, et tincidunt sem tincidunt in. Aliquam non risus luctus mauris ullamcorper eleifend. Vestibulum ac ornare ante, vitae ultricies mauris. Vestibulum facilisis augue lectus, in convallis risus tristique a.</p>
            </div>
            <div class="col-sm-1"></div>
        </div>
        <footer>
            <p>This is the footer so some text goes here..</p>
        </footer>
    </body>
</html>